.SectionWithPhoto {
  margin-bottom: 128px;
  width: 100%;
  display: flex;
}

.SectionWithPhoto-start {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.SectionWithPhoto-end {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.SectionWithPhoto-end-bcg{
  background-color: #F5F5F2;
}

.SectionWithPhoto_reverse {
  flex-direction: row-reverse;
}