.SectionWhitPhoto {
    display: flex;

}
.SectionWhitPhoto-start{
    width: 50%;
    padding: 160px 80px;
}

.SectionWhitPhoto-end {
    width: 50%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.reverse{
    flex-direction: row-reverse;
}