.Button {
  display: inline-block;
  padding: 10px 22px;
  background-color: #CF6F49;
  font-family: 'Roboto';
  font-weight: 400;
  font-size: 16px;
  text-align: center;
  color: #FFFFFF;
  border: 0;
  border-radius: 6px;
  cursor: pointer;
}
.Button_hero {
  padding: 10px 18px;
  font-size: 20px;
}

.Button_dark {
  padding: 13px 25px;
}