.SectionWithPhotoContentInfoItem {
    width: 288px;
}

.iconBlock {
    width: 48px;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #FAE8E1;
    border-radius: 5px;
}
.icon {
    font-size: 32px;
}

.title {
    margin-top: 16px;
    font-weight: 700;
    font-size: 20px;
    line-height: 28px;
}

.content {
    margin-top: 18px;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #65665C;
}